
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="background-shadow"></div>
<div class="center-modal">
    <div class="modal">
        <div class="modal-header" style="background-color:#1e7e34;">
            <h2 id="modal-title">Nowe przyjęcie</h2>
            <a href="#" class="modal-dismiss"><i class="text-dark fas fa-times p-2"></i></a>
        </div>
        <div class="modal-body">
            <div class="modal-row move-flex">
                <span id="customer-name"></span>
                <i class="fas fa-arrow-circle-right" style="color:#1e7e34;"></i>
                <span id="warehouse-name"></span>   
            </div>
            <div class="modal-row-document-save-inf">
                <p>Wykonano przyjęcie magazynowe.</p>
                <p>Został wygenerowany dokument przyjęcia <b id="number-document"></b></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-close">Zamknij</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="error-text">Wypełnij dane podstawowe.</div>
    <div class="error-text-second">Ilość jednego z produktów przekracza dostępny stan w magazynie.</div>
    <div class="error-text-third">Nie można przesunąć produktów do tego samego magazynu.</div>
    <div class="error-text-fourth">Ilość produktu musi być większa niż zero.</div>
    <div class="card-movement">

        <div class="lef-card-movement">

            <div class="card-header">
                <h2 id="name-of-movement">
                    Nowe przyjęcie
                </h2>
            </div>
            <div class="card-body">

                <div class="modal-row-movement">
                    <label for="" style="margin-left:5px;">Data</label>
                    <input type="text" id="date-picker"></p>
                </div>

                <div class="modal-row-movement" id="first-select">
                    <label for="warehouse-one">Magazyn</label>
                    <select class="form-control" name="sort" id="warehouses-filter">
                        <option value=""></option>
                    </select>
                </div>

                <div class="modal-row-movement" id="second-select">
                    <label for="warehouse-second">Kontrahent</label>
                    <select class="form-control" name="sort" id="customers-filter">
                        <option value=""></option>
                    </select>
                </div>

                <div class="modal-row-movement" style="padding-bottom:0;">
                    <label></label>
                    <button type="button" id="btn-movement" class="btn-modal">nowe przyjęcie</button>
                </div>

            </div>

        </div>

        <div class="right-card-movement">

            <div class="card-header">
                <h2>
                    Dodawanie produktu
                </h2>
            </div>
            <div class="card-body">

                <div class="right-card-movement-body">
                    <div>
                        <label>Produkt</label>
                        <select class="form-control" name="sort" id="products-filter-movement">
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <label for="spinner">Ilość</label>
                        <input id="spinner" name="value">
                    </div>

                    <button id="btn-movement-add">Dodaj</button>

                </div>

            </div>

            <br />

            <div id="container-table">
                <div class="card-header">
                    <h2>
                        Dodawanie produktu
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-container">
                        <table id="moves-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nazwa produktu</th>
                                    <th>Kod produktu</th>
                                    <th>Jednostka</th>
                                    <th>Stan</th>
                                    <th>Ilość</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/Scripts/Moves.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/resources/demos/external/jquery-mousewheel/jquery.mousewheel.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

