
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="background-shadow"></div>
<div class="center-modal">
    <div class="modal" id="modal-edit">
            <div class="modal-header" id="modal-header-warehouse">
                <h2 id="modal-title-warehouse"></h2>
                <a href="#" class="modal-dismiss" id="modal-dismiss-warehouse"><i class="text-dark fas fa-times p-2"></i></a>
            </div>
            <div class="modal-body">

                <div class="error-text"></div>

                <div class="modal-row">
                <label for="warehouse-name">Nazwa magazynu</label>
                <input type="text" id="warehouseName">
                </div>

                <div class="modal-row">
                    <label for="warehouse-code">Kod magazynu</label>
                    <input type="text" id="warehouseCode">
                </div>

                <div class="modal-row">
                <label for="warehouse-description">Opis</label>
                <textarea type="text" id="warehouseDescription"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-warehouse"></button>
            </div>
        </div>

        <div class="modal" id="modal-inf">
            <div class="modal-header" id="modal-header-inf">
                <h2>Informacje</h2>
                <a href="#" class="modal-dismiss" id="modal-dismiss-inf"> <i class="text-dark fas fa-times p-2"></i></a>
            </div>
            <div class="modal-body">

                <div class="modal-row">
                    <label for="warehouse-name">Nazwa magazynu:</label>
                    <span id="warehouse-name-information"></span>
                </div>

                <div class="modal-row">
                    <label for="warehouse-created">Utworzono:</label>
                    <span id="warehouse-created-information"></span>
                </div>

                <div class="modal-row">
                    <label for="warehouse-user">Przez:</label>
                    <span id="warehouse-user-information"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-inf">Zamknij</button>
            </div>
        </div>

        <div class="modal" id="modal-delete">

            <div class="modal-header" id="modal-header-delete">
                <h2>Usuwanie</h2>
                <a href="#" class="modal-dismiss"><i class="text-dark fas fa-times p-2"></i></a>
            </div>

            <div class="modal-body">
                <div class="modal-row-delete">
                    <i class="fa fa-question-circle"></i>
                    <h2>Potwierdzenie</h2>
                    <p>Na pewno chcesz usunąć ten magazyn?</p>
                </div>
            </div>

            <div class="modal-footer">
                <button id="button-cancel">Anuluj</button>
                <button id="button-delete">Usuń</button>
            </div>

            </div>
    </div>
    

<div class="card">

    <div class="card-header">
        <h2>Lista magazynów</h2>
    </div>

    <div class="card-body">
        <button type="button" class="btn-modal" data-type="new">nowy magazyn</button>
        <div class="table-container">
            <table id="warehouse-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nazwa magazynu</th>
                        <th>Kod magazynu</th>
                        <th>Opis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>


<script src="~/Scripts/wareHouses.js"></script>
