
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-site">
    <div>
        <img src="../Content/img/logo.png" height="120" style="display: block; margin-left: auto; margin-right: auto ">
        <div class="login-modal">
            <div class="login-form">

                <div id="login-form-error">Nie poprawne dane</div>

                <label for="uname">Użytkownik</label>
                <input type="text" name="uname" id="login">

                <label for="psw">Hasło</label>
                <input type="password" name="psw" id="password">

                <button type="submit" id="loginBtn">Zaloguj Się</button>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/LoginJs.js"></script>
