
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card">

    <div class="card-header">
        <h2>Lista dokumentów</h2>
    </div>

    <div class="card-body">
        <div class="table-container">
            <table id="document-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data</th>
                        <th>Rodzaj</th>
                        <th>Kontrahent</th>
                        <th>Magazyn wyjściowy</th>
                        <th>Magazyn wejściowy</th>
                        <th>Wystawił</th>
                        <th>Nazwa dokumentu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>

<script src="~/Scripts/documents.js"></script>
